.Social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Social .mail-input {
    margin-right: 10px;
    width: 400px;
}

.Social .social-media {
    margin-top: 10px;
}

.Social .social-icon {
    margin: 0 5px;
}

.Social .company-logo {
    height: 100px;
}

.Social .presskit-link {
    display: inline-block;
    padding-left: 6px;
}