.BannerContainer {
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerContainer > div {
    height: 440px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}

.BannerContainer > img {
    max-height: 400px;
    height: 50%;
    filter: contrast(160%);
    position: absolute;
}