.GameDescription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.GameDescription > img {
    height: 300px;
}

.GameDescription .text-description {
    margin: 20px 0;
    font-weight: bold;
}

@media only screen and (max-width: 992px) {
    .GameDescription > img {
        height: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .GameDescription > img {
        display: none;
    }
}